In [7]:
# Instalando a biblioteca de verificação de similridade entre strings
!pip install fuzzywuzzy
!pip install python-Levenshtein

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.6/dist-packages (0.17.0)
Collecting python-Levenshtein
  Downloading https://files.pythonhosted.org/packages/42/a9/d1785c85ebf9b7dfacd08938dd028209c34a0ea3b1bcdb895208bd40a67d/python-Levenshtein-0.12.0.tar.gz (48kB)
     |████████████████████████████████| 51kB 3.5MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from python-Levenshtein) (41.0.1)
Building wheels for collected packages: python-Levenshtein
  Building wheel for python-Levenshtein (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/de/c2/93/660fd5f7559049268ad2dc6d81c4e39e9e36518766eaf7e342
Successfully built python-Levenshtein
Installing collected packages: python-Levenshtein
Successfully installed python-Levenshtein-0.12.0

In [ ]:
# Importando as bibliotecas
import pandas as pd
from collections import OrderedDict
from fuzzywuzzy import process, fuzz

In [ ]:
data = OrderedDict(
{
    "NumPaciente": [123465, 456789, 987654, 456789, 98765],
    "Diagnostico": ["Doenc.Cardiovascular",
                    "Doença Cardio.",
                    "Doença Cardiovascular.",
                    "Cardiovascular!!",
                    "%%$#Doença Cardioovascular&&"
                   ]
})

df = pd.DataFrame(data)

In [5]:
df

   NumPaciente                   Diagnostico
0       123465          Doenc.Cardiovascular
1       456789                Doença Cardio.
2       987654        Doença Cardiovascular.
3       456789              Cardiovascular!!
4        98765  %%$#Doença Cardioovascular&&

In [ ]:
def aplica_fuzzy(dado, lista, tipo_score, valor_corte):
    return process.extractOne(dado, choices=lista, scorer=tipo_score, score_cutoff=valor_corte)

In [ ]:
df['Diagnostico2'] = aplica_fuzzy("Doença Cardiovascular", df.Diagnostico, fuzz.ratio, 95)[0]

In [14]:
df

   NumPaciente                   Diagnostico            Diagnostico2
0       123465          Doenc.Cardiovascular  Doença Cardiovascular.
1       456789                Doença Cardio.  Doença Cardiovascular.
2       987654        Doença Cardiovascular.  Doença Cardiovascular.
3       456789              Cardiovascular!!  Doença Cardiovascular.
4        98765  %%$#Doença Cardioovascular&&  Doença Cardiovascular.